@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* loader */
.spinner{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  background-color: #000;
  opacity: 0.3;
}

.active {
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* .card-button {
  border-radius: 0;
} */

.hoverable:hover {
  cursor: pointer;
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

/* Loader */

.lds-ring {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #111;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #111 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
